# build castoffs
*.o
*.a
*.lib
*.out
*.elf
*.lst
*.map

# vim
*.swo*
*.swp*

# Eagle backups
*.s#?
*.b#?
*.l#?
eagle.epf

# Libraries that shouldn't be dragged along

SparkFun-*.l?*
LilyPad-Wearables.l?*
dp_devices.?*
